div.img {
  border: 2px solid tomato;
  position: relative;
  /*기준 점*/
}
div.img .ab {
  position: absolute; /*기준에 적용*/
}
div.img h1 {
  top: 230px;
  left: 50px;
}
div.img div {
  bottom: 50px;
  left: 50px;
}

div.img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
